<!DOCTYPE html>
<html lang="en">
<head>
  <title>Timestamp Microservice Api</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="text-center">Timestamp Microservice API</h1>
  <div class="jumbotron text-center">
  	<p>This is a Free Code Camp API project challenge.</p>
  </div>
  <div class="row">
  	<div class="col-md-4 col-md-offset-2">
  		<h2>Example Usage:</h2>
  		<ul>
  			<li>https://sugar-fish.hyperdev.space/October 22, 2016</li>
  			<li>https://sugar-fish.hyperdev.space/476046800</li>
  		</ul>
  	</div>
  	<div class="col-md-4">
  		<h2>Example Output:</h2>
  		<ul>
  			<li>{"unix":"1477094400","natural":"October 22, 2016"}</li>
  		</ul>
  	</div>
  </div>
</div>

</body>
</html>

